<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<title>  Restaurant  </title>
</head>
<body>

	        <nav class="navbar navbar-inverse" style="background-color: rgba(47, 23, 15, 0.9);">
            <div class="container">
                <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                    <a href="/" class="navbar-brand">Accueil</a>
                </div>
                <div class="collapse navbar-collapse" id="monMenu">
                    <ul class="nav navbar-nav">
                        <li><a href="/restaurants">Restaurant</a></li>
                        <li><a href="">Produits</a></li>
                        <li><a href="/about">A propos</a></li>
                    </ul>
                </div>
            </div>
        
        </nav>


	    <section style="background-color:beige;">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class= text-center rounded"  style="text-align: center;">
              <h2 class="mb-5">
                <span>Nous Sommes Ouvert</span>
              </h2>
              <ul  style="text-align: center; list-style: none; font-size: 20px;">
                <li style="margin-bottom: 10px;">
                  Dimanche
                  <span class="ml-auto">Fermé</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Lundi
                  <span class="ml-auto">07H00 A 20H</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Mardi
                  <span class="ml-auto">07H00 A 20H</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Mercredi
                  <span class="ml-auto">07H00 A 20H</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Jeudi
                  <span class="ml-auto">07H00 A 20H</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Vendredi
                  <span class="ml-auto">07H00 A 20H</span>
                </li>
                <li style="margin-bottom: 10px;">
                  Samedi
                  <span class="ml-auto">09H00 A 17H</span>
                </li>
              </ul>
              <p class="mb-5">
                <em>
                  <strong>Adresse</strong>
                  <br>
                  Cocody, Angre, Carrefour GESTOCI
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Telephone</em>
                </small>
                <br>
                89 25 25 29
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

   
</body>
</html>