<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>
    
    
    <body>
        
        <nav class="navbar navbar-inverse" style="background-color: rgba(47, 23, 15, 0.9);">
            <div class="container">
                <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                    <a href="/" class="navbar-brand">Accueil</a>
                </div>
                <div class="collapse navbar-collapse" id="monMenu">
                    <ul class="nav navbar-nav">
                        <li><a href="/restaurants">Restaurant</a></li>
                        <li><a href="">Produits</a></li>
                        <li><a href="/about">A propos</a></li>
                    </ul>
                </div>
            </div>
        
        </nav>


  <section class="img-responsive" style="background-image: url('img/img.jpg '); padding: 200px; margin: 0px 0px 5px 0px;">
    <div class="container">
  <div>
        <div class="left-0 text-center p-5 rounded">
          <h2 style="color: black;">
            <span>Chic Caffetariat</span>
            <span>Nous sommes une cafetariat,avec 2Oans d'experiences<br> notre priorité est de satisfaire la clientelle</span>
          </h2>
          <div class="mx-auto">
            <a class="btn btn-primary btn-xl" href="/commandes">Faire une visite</a>
          </div>
        </div>
      </div>
    </div>
  </section>

       
        <div style="height:50px; background-color:maroon; text-align: center;">
          <footer>
              <h5 style="padding-top:20px;">© 2019 SAMAKE MOHAMED</h5>
          </footer>
        </div>        
        
        
    </body>

</html>